[workspace]
members = ["stead-cli", "stead-ffi", "stead-module-sdk", "stead-contracts", "stead-resources", "stead-endpoints", "stead-usf", "stead-daemon", "stead-test-utils"]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1
strip = true
